
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
        body {

            font-family: 'Rubik', sans-serif !important;
            background-color:  #F2F5FA;    
            color:  #202223;
            font-size: 16px;

        }


        .search-bar {
            background-color: white;
            border-radius: 5px;
            width: 428px;
            height: 37px;
            display: flex;
            align-items: center;
            justify-content: center;
           
        }
        .query{
            font-family: 'Rubik', sans-serif !important;
        }

        input {
            background-color: transparent;
            border: 0px solid;
            width: 90%
        }

        .container2 {

            margin-top: 60px;
            margin-left: 5%;
            margin-right: 5%;
            justify-content: space-around;
          

        }

        .card {
            margin-bottom: 37px;
            width: 363px;

        }

        i {
            color: #015989;
        }

        .companyPharse {
            color: #51C5FF;
            padding-top: 8px;
            padding-bottom:6px;
            font-size: 12px !important;

        }

        #accordion {
            margin-top: 80px;
            display: flex;
            justify-content: flex-start;
            column-gap: 25px;


        }

        .card-body {
            padding: 22px;
        }

        .cardText {
            font-size: smaller;
        }

        #accordion {
            display: flex;
            flex-wrap: wrap;
           justify-content: center;
            align-items: center;
        }

        .dropdownButton {
            margin-right: 40px  !important;
        }

        .dropdown-menu {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .navbar {
            box-shadow: 0 4px 8px 0 rgba(87, 86, 86, 0.247), 0 6px 20px 0 rgba(82, 81, 81, 0.19);
        }
        h6{
             font-weight: 400 !important;
        }
        .icone{
            width: 15px;
            height: 15px;
           
           
        }
        .box {

            inline-size: 90%;
            /* overflow-wrap: break-word;
            hyphens: manual;
            overflow-y:visible; */
            background-color: #51C5FF;
        }
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 8px;
          
            
          }
          
          .grid-container > h6 {
            background-color: rgba(255, 255, 255, 0.8);
            text-align: center;
            
            font-size: 30px;
          }
          
    

          .item1{
            grid-column-start: 1;
            grid-column-end: 2;
             
        }
        .item2{
            grid-column-start: 2;
            grid-column-end: 3;
     

        }
            



        @media only screen and (max-width: 600px) {

            .container {
                margin-top: 20px;
                margin-left: 8px;
                margin-right: 8px;
                width: 385px
            }

            .dropdownButton {
                margin-top: 20px;
                display: flex;
                justify-content: end;

            }

            .dropdown-menu {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

            #accordion {
                margin-top: 45px;
            }

            .card {
                width: 382px;
                margin-bottom: 25px;
            }

            .card-img-top {
                display: none;
            }

            .companyPharse {
                padding-top: 3px;
                margin-bottom: 20px;
                padding-bottom: 15px;
                width:200px
            }

            .card-img-top2 {
                width: 106px;
                height: 109px;
                border-radius: 53px;
                float: right;
            }
            .fw-bolder{
                padding-top:17px;
            }
            .address{
                display: grid;
                grid-template-columns:3;

            }
          
            .item1{
                grid-column-start: 1;
                grid-column-end: 2;
                 
            }
            .item2{
                grid-column-start: 2;
                grid-column-end: 3;
         

            }

            .grid-container {
                display: grid;
                grid-template-columns: auto auto auto;
                gap: 8px;
              }
              
              .grid-container > h6 {
                background-color: rgba(255, 255, 255, 0.8);
                text-align: center;
                font-size: 30px;
              }
              
              


        }


        @media only screen and (min-width: 601px)and (max-width:992px) {
            .card-img-top2 {
                display: none
            }



            .container {
                margin-top: 20px;
                margin-left: 8px;
                margin-right: 8px;
                width: 1000px
            }

            .dropdownButton {
                margin-top: 20px;
                display: flex;
                justify-content: start;

            }

            .dropdown-menu {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

            #accordion {
                margin-top: 45px;
            }

            .card {
                width: 200px;
                margin-bottom: 25px;
            }

            .pageHeader {
                display: flex;
                justify-content: space-between;
            }

            .search-bar {
                width: 100%
            }
            .divider{
                display: none;
                padding-bottom: 55px;
            }
        }

        @media only screen and (min-width: 768px) {
            .card-img-top2 {
                display: none
            }
            .divider{
                display: none;
            }
        }
  